<!-- billboard begin -->
<div class="billboard">
  <h3>
    本周口碑榜
    <samll><a href="#">更多榜单》</a></samll>
  </h3>
  <dl class="dl-horizontal">
    <dt>1</dt>
    <dd><a href="#">海洋之歌</a></dd>
    <dt>2</dt>
    <dd><a href="#">爱的那点性事</a></dd>
    <dt>3</dt>
    <dd><a href="#">小森林 夏秋篇</a></dd>
    <dt>4</dt>
    <dd><a href="#">印度的女儿</a></dd>
    <dt>5</dt>
    <dd><a href="#">四个月亮</a></dd>
    <dt>6</dt>
    <dd><a href="#">餳尔斯玛利亚</a></dd>
    <dt>7</dt>
    <dd><a href="#">自由之丘</a></dd>
    <dt>8</dt>
    <dd><a href="#">圣罗兰传</a></dd>
    <dt>9</dt>
    <dd><a href="#">迷失1971</a></dd>
    <dt>10</dt>
    <dd><a href="#">灰姑娘</a></dd>
  </dl>
</div>
<!-- billboard end -->

<!-- glist begin -->
<div class="glist">
  <h3>热门G列</h3>
  <ul class="list-unstyled">
    <li><a href="#">文艺范必修课</a><span class="pull-right">9027推荐</span></li>
    <li><a href="#">关于美食的电影</a><span class="pull-right">9027推荐</span></li>
    <li><a href="#">摄影最美的电影</a><span class="pull-right">7推荐</span></li>
    <li><a href="#">与摇滚有关的一切</a><span class="pull-right">27推荐</span></li>
    <li><a href="#">动画制作纪实</a><span class="pull-right">9推荐</span></li>
  </ul>
</div>
<!-- glist end -->