<div class="slide2 row" data-slick='{"slidesToShow": 1, "slidesToScroll": 1,"autoplay":true}'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="thumbnail">
      <img src="../img/slide2/slide2-1.jpg"  alt="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="caption col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>GQ动画工作室制作作品</h3>
        <p>
          由动画大师宫崎骏创立的吉卜力工作室，其动画作品风格多变、充满想象且富有生气。憨憨的龙猫形象深入人心，吉卜力的LOGO也是用它来设计的。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="critic">
 <h3>最受欢迎的影评<small><a href="#">更多热门影评》</a></small> <small><a href="#">新片影评》</a></small></h3> 
 <div class="media">
   <a class="pull-left" href="#">
     <img class="media-object" src="../img/critic/critic-1.jpg" alt="Image">
   </a>
   <div class="media-body">
     <h4 class="media-heading"><a href="#">【非影评】【首映式记录】我是全中国抱脸叔最多最久的迷妹！！</a></h4>
     <p>2015.3.23.国贸百丽宫《Kingsman》photocall+首映 话说估计我今年的人品都已经用完了！！首映实在是爽爆了！！3月9号的时候，突然知道脸脸要来北京首映！！我的心！！后来看到FOX家官微有活动，送首映名额，我就想试试呗，用小基基的话说，万一有缘分呢...<a href="#">（全文）</p>
   </div>
 </div>
</div>