<!--select_bar begin-->
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">选电影</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">选电视剧</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">热门</a></li>
        <li><a href="#">最新</a></li>
        <li><a href="#">经典</a></li>
        <li><a href="#">可播放</a></li>
        <li><a href="#">GQ高分</a></li>
        <li><a href="#">冷门佳作</a></li>
        <li><a href="#">华语</a></li>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">热门</a></li>
        <li><a href="#">美剧</a></li>
        <li><a href="#">英剧</a></li>
        <li><a href="#">韩剧</a></li>
        <li><a href="#">日剧</a></li>
        <li><a href="#">国产剧</a></li>
        <li><a href="#">港剧</a></li>
        <li><a href="#">日本动画</a></li>
      </ul>
    </div>
  </div>
</div>
<!--select_bar end-->

<hr>
<!--list begin-->
<div id="hacker-list">
  <div class="filter row list">
    <div class="filter row list">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
          <img src="../img/movies/movie-1.jpg" alt="">
          <div class="caption">
            <h4 class="name">模仿游戏</h4>
            <p class="id">1 <strong class="hot">9</strong></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
          <img src="../img/movies/movie-2.jpg" alt="">
          <div class="caption">
            <h4 class="name">占水师</h4>
            <p class="id">2 <strong class="hot">8</strong></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">
          <img src="../img/movies/movie-3.jpg" alt="">
          <div class="caption">
            <h4 class="name">鞋匠人生</h4>
            <p class="id">3 <strong class="hot">7</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="addMore btn btn-primary btn-lg btn-block"><a href="#">加载更多</a></p>
<!--list end-->